@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá, bem-vindo ao MeritoHealth!</h1>
    <p>Esta é a página inicial do nosso sistema de prontuário médico.</p>
</div>
