@model MeritoHealth.Models.Paciente

<form asp-action="Create" asp-controller="Pacientes" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="DtNascimento" class="form-label"></label>
                <input asp-for="DtNascimento" type="date" class="form-control" />
                <span asp-validation-for="DtNascimento" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="Genero" class="form-label"></label>
                <select asp-for="Genero" class="form-select">
                    <option value="">-- Selecione --</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="O">Outros</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="col-md-8 mb-3">
                <label asp-for="Endereco" class="form-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="IdContato" class="form-label"></label>
                <input asp-for="IdContato" class="form-control" />
                <span asp-validation-for="IdContato" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="TipoSanguineo" class="form-label"></label>
                <select asp-for="TipoSanguineo" class="form-select">
                    <option value="">-- Selecione --</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                <span asp-validation-for="TipoSanguineo" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label asp-for="IdAlergia" class="form-label"></label>
                <input asp-for="IdAlergia" class="form-control" />
                <span asp-validation-for="IdAlergia" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="CondicoesCronicas" class="form-label"></label>
                <input asp-for="CondicoesCronicas" class="form-control" />
                <span asp-validation-for="CondicoesCronicas" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="ContatoEmergencia" class="form-label"></label>
                <input asp-for="ContatoEmergencia" class="form-control" />
                <span asp-validation-for="ContatoEmergencia" class="text-danger"></span>
            </div>
        </div>


    <div class="text-end">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
