@model MeritoHealth.Models.Paciente
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>
<hr />

@await Html.PartialAsync("_PacienteForm", Model)

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
